[submodule "Assets/Plugins/EasyEventEditor"]
	path = Assets/Plugins/EasyEventEditor
	url = https://github.com/JGroxz/EasyEventEditor
[submodule "Assets/Zinnia.Unity"]
	path = Assets/Zinnia.Unity
	url = https://github.com/ExtendRealityLtd/Zinnia.Unity.git
